body {
    margin: 0;
}

.top_section {
    background-color: #1F2937;
    color: white;
    padding: 10px 120px 120px;
    margin: 0;
    
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;

}

.hero {
    display: flex;
    min-height: 200px;
    margin-top: 60px;
    gap: 50px;
    
}

.main {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

#main-text{
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8;
   
}


#secondary-text{
    display: flex;
    flex: 1;
    background-color: #d1d2d5;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    
}

.placeholder {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-shrink: 0;
}

button {
    width: fit-content;
    background-color: #3882F6;
    font-size: 15px;
    border-radius: 8px;
    border-width: 0;
    color: white;
    padding: 8px 10px 10px;

}

.title {
    text-align: center;
    margin: 20px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.subtext_Info {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.subtext_card {
    height: 100px;
    width: 100px;
    margin: 3px;
    border: solid;
    border-color: #3882F6;
    border-radius: 10px;

}

.container {
    max-width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.content {
    margin: 80px;
}

.quote {
   
    font-size: 36px;
    color: #1F2937;
    padding: 100px;
    font-weight: 100;

    text-align: center;
}

#author {
    align-self: flex-end;
    font-size: 36px;
    font-weight: bold;
    margin:20px;
}

