.top_section {
    background-color: #1F2937;
    color: white;
    padding: 10px 50px 50px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;

}

.hero {
    display: flex;
}

#main-text-and-button {
   display: flex;
   flex-direction: column;
   flex: 1;
}

#secondary-text{
    display: flex;
    flex: 1;
    width: 400px;
    background-color: #E5E7EB;
    flex-shrink: 0;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    
}

.placeholder {
    display: flex;
    flex-direction: column;
}

#main-text-and-button button {
    
}
